/** fonts setting **/
/* default - Regular */
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard GOV Black'), url(../../fonts/PretendardGOV-Black.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Black.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard GOV ExtraBold'), url(../../fonts/PretendardGOV-ExtraBold.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-ExtraBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard GOV Bold'), url(../../fonts/PretendardGOV-Bold.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard GOV SemiBold'), url(../../fonts/PretendardGOV-SemiBold.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-SemiBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard GOV Medium'), url(../../fonts/PretendardGOV-Medium.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard GOV Regular'), url(../../fonts/PretendardGOV-Regular.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Regular.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard GOV Light'), url(../../fonts/PretendardGOV-Light.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Light.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard GOV ExtraLight'), url(../../fonts/PretendardGOV-ExtraLight.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-ExtraLight.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard GOV Thin'), url(../../fonts/PretendardGOV-Thin.subset.woff2) format('woff2'), url(../../fonts/PretendardGOV-Thin.subset.woff) format('woff');
}